:root {
  --primary: #3F3BF4;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem; /* 16px */
  font-family: 'Ubuntu', sans-serif;
}


.container {
  width: 595px;
  margin: 0 auto;
}

.header {
  display: flex;
  padding-block: 1.375rem;
  justify-content: space-around;
}

.header .item {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 0.625rem;
}

.header .item .icon {
  width: 25px;
  height: 25px;
  line-height: 25px;
  background-color: var(--primary);
  color: #fff;
  text-align: center;
  border-radius: 2px;
}

.header .item .text {

}


.hero {
  background: var(--primary);
  padding: 2.188rem 1.875rem;
  display: flex;
  gap: 1rem;
}

.hero .image {
  width: 100px;
  height: 100px;
  background: rgba(255,137,1,1);
  border-radius: 9px;
}

.hero .info {
  color: #fff;
}

.hero h1 {
  font-size: 48px;
}

.hero h2 {
  font-weight: 400;
  font-size: 24px;
}

.super-title h1.title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.super-title .line {
  background-color: var(--primary);
  height: 5px;
  width: 130px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.skills {

}

.skills .skill {
  display: flex;
  align-items: center;
}

.skills .skill .title {
  margin-right: 10px;
}

.skills .skill .dots {
  display: flex;
  gap: 4px;
}

.skills .skill .dots .dot {
  width: 10px;
  height: 10px;
  border: 1px solid var(--primary);
  border-radius: 50%;
}

.skills .skill .dots .dot.full {
  background-color: var(--primary);
}
