* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  width: 100%;
  text-align: center;
}
body {
  background-color: black;
  overflow-x: hidden;
  width: 100%;
  font-family: "Marvel", sans-serif;
}

#nav {
  display: flex;
  background-color: black;
  height: 2.9em;
}

#nav ul {
  display: flex;
  justify-content: space-around;
}

#nav img {
  margin-left: 2px;
  position: relative;
  width: 7em;
  height: 2.9em;
}

nav ul li {
  cursor: pointer;
  text-align: center;
  font-size: 2em;
  list-style: none;
  display: inline-block;
  color: white;
  margin-left: 5em; /* Ajuste a margem conforme necessário */
}
nav ul li:hover {
  color: rgb(213, 211, 211);
}

/*
conteudo apos nav 
*/

#wallpaper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1; /* Para enviar o elemento para trás de outros elementos na página */
}
#lista-personagens {
  width: 100%;
}
#resultado {
  height: 14em;
  justify-content: center;
  display: inline-block;
  margin: 1em 2em 3em 1em;
  background-color: #FFF;
  border-top-left-radius:10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 4);
  transition: transform 0.3s;
}

#resultado:hover {
  transform: scale(1.2);
}

#resultado img {
  width: 16em;
  height: 16em;
  border-bottom-right-radius: 10px;
}
#resultado p {
  margin-bottom: 0;
 text-align: center;
}

/*
Carrousel agora
*/

.slider{
  overflow: hidden;

}
.slider > .slider-content{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  transition: all 500ms ease;

}
.slider-item img {
  width: 90%;
  height: 75%;
  border-radius: 10px;
}

.slider > .slider-content > .slider-item {
  flex: 0 0 auto;
  width: 100%;
}

.slider > input:nth-child(1):checked ~ .slider-content{
  transform: translateX(0%);
}

.slider > input:nth-child(2):checked ~ .slider-content{
  transform: translateX(-100%);
}
.slider > input:nth-child(3):checked ~ .slider-content{
  transform: translateX(-200%);
}

.slider > input:nth-child(4):checked ~ .slider-content{
  transform: translateX(-300%);
}
